*{
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    margin: 0;

}

html{
    scroll-snap-align: smooth;
}


header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header .contenedor{
    background-color: rgb(131, 77, 77); 
    max-width: 100%;
    display: flex;
}



#search-container {
    float: right;
    margin-top: 10px;
    display: flex;

}

#search-container input[type="text"] {
    height: 30px;
    width: 300px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-container button[type="submit"] {
    height: 30px;
    padding: 5px 10px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(63, 44, 44);
    color: white;
    cursor: pointer;
}

#search-container button[type="submit"]:hover {
    background-color: rgb(6, 6, 6);
}



header nav{

    height: 8vh;
    background-color: rgb(131, 77, 77); 
    align-items: center;
}

header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    padding: 20px 10px;
    
}

header a:hover{
    color: rgb(0, 0, 0);
}

#inicio{
    color: white;
    background-color: rgb(255, 255, 255);
}

.imagen_container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( 180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5)100%
        ),url("https://mubson.com/cdn/shop/files/ESCRITORIO_8.jpg?v=1707922127&width=1650");
     clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
     background-size: cover;
     background-position: center center;

}

.imagen_container h1{
    color: white;
    font-size: 55px;
    margin-bottom: 20px;
}
.imagen_container p{
    color: white;
    font-size: 1.2em;
    margin-top: 0;
    max-width: 50%;
}
.imagen_container button{
    background-color: rgb(131, 77, 77); 
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 20px rgb(0,0,0,0.5); 
}

.imagen_container button:hover{
    background-color: rgb(79, 54, 54);

}

@media (max-width: 980px){
   #menu-bar{
       display: none;
   }
   #search-container button{
       display: none;
   }

   header a{
     font-size: 3vh;

   }  
   
   header nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   }

   #search-container{
       display: none;
   }

    
   #search-container{
       display: none;
   }
 .imagen_container h1{
     font-size: 3vh;
     
 }
    .imagen_container p{
        font-size: 1.5vh;
        padding-bottom: 200px;
        max-width: 70%;
    }

    .imagen_container button{
        font-size: 3vh;
        margin-top: 0;
        margin-bottom:300px
    }

    .imagen_container{
        height: 80vh;
    }
}



